body {
    background-color: rgb(25,25,25);
}

.title_bar{
    position: absolute;
    height: 18%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(17,17,17);
}

.top_bar{
    position: absolute;
    height: 22%;
    width: 100%;
    top: 0;
    left: 0;
}
.time_bar{
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0;
    left: 0;
}

#time {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    text-align: center;
}